*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background: rgb(240, 240, 240);
}

.main{
width  : 100%;
height : 680px;
border : 2px solid blue;
opacity: 0.2;
background-image: url('https://img.freepik.com/free-vector/cyber-data-security-online-concept-illustration-internet-security-information-privacy-protection_1150-37330.jpg');
background-repeat: no-repeat;
background-size: cover;
position: relative;
}
 
form{
    width : 400px; height: 500px;
    border:1px solid rgb(198, 198, 198);
    position: absolute;
    top: 100px;left: 35%;
    padding: 45px;
    background: white;
    border-radius: 7px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
form > h2{
    font-size: 30px; 
}
form>p{
    font-size: 17px;
    margin-top: 15px;
}
form>p>u{
    color:#0075b8;
}
form>div:nth-child(3){
    margin-top: 20px; 
}
form>div:nth-child(3)>label{
    font-size: 18px;
    font-weight: bold;
}
form>div:nth-child(3)>input{
    margin-top: 7px;
    width : 100%;height: 40px;
    border:1px solid rgb(40, 89, 196);
    border-radius: 5px;
    padding: 20px;
}
form>div:nth-child(4){
    margin-top: 20px;
    font-weight: bold;
}
form>div:nth-child(4)>input{
    margin-top: 7px;
    width : 100%;height: 40px;
    border:1px solid rgb(40, 89, 196);
    border-radius: 5px;
    padding: 20px;
    font-size: 20px;
}
form>div:nth-child(5){
    margin-top: 10px;
}
form>div:nth-child(5)>input{
    /* width : 10px;  */
    border:2px solid red;
}
form>input{
    margin-top: 20px;
    width: 100px;height: 40px;
    border:1px solid rgb(171, 171, 171);
    border-radius: 6px;
    font-size: 20px;
    cursor: pointer;
    background-color: rgb(238, 255, 0);
}
form>div:nth-child(7){
    display : flex;
    margin-top: 20px;
    width : 100%;height: 40px;
    /* border:2px solid red; */
    justify-content:space-between;
    align-items:center;
    
}
form>div:nth-child(7)> u{
    font-size: 15px;
    cursor: pointer;
}




@media all and (min-width:500px) and (max-width:1200px){
    form{
        width : 400px; height: 500px;
        border:1px solid rgb(198, 198, 198);
        position: absolute;
        top: 100px;left: 35%;
        padding: 45px;
        background: white;
        border-radius: 7px;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    }
}
@media all and (min-width:350px) and (max-width:499px){
            form{
                width : 400px; height: 500px;
                border:1px solid rgb(198, 198, 198);
                position: absolute;
                /* top: 100px;left: 35%; */

                /* padding: 45px; */
                background: white;
                border-radius: 7px;
                box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
            }
            .main{
            width : 100%;
            background-image: url('https://img.freepik.com/free-vector/cyber-data-security-online-concept-illustration-internet-security-information-privacy-protection_1150-37330.jpg');
            background-repeat: repeat;  
            background-size: cover;
            }

        }